.wishes-overview .section-container {
    flex-direction: column;
}

.wishes-overview table {
    width: 100%;
    padding: 20px 60px;
    border-collapse: collapse;
    color: var(--color-text);
}

.wishes-overview table thead {
    text-align: left;
    color: var(--color-text);
    background-color: var(--color-gray);
}

.wishes-overview table thead th {
    padding: 5px 40px;
}

.wishes-overview table tbody td {
    padding: 5px 40px;
    margin: 0 10px;
    background-color: var(--color-bg-light);
    border-bottom: 1px solid var(--color-gray);
}

.wishes-overview .edit-pull, .wishes-overview .del-pull {
    color: var(--color-text);
    transition: all 0.3s ease-in-out;
    max-width: 0px;
    padding: 0;
    text-align: center;
}

.wishes-overview .edit-pull:hover {
    cursor: pointer;
    color: var(--color-blue);
}
.wishes-overview .del-pull:hover {
    cursor: pointer;
    color: var(--color-red);
}

.add-wish {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-grey);
    transition: all 0.3s ease-in-out;
}
.add-wish:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.add-wish span {
    margin-left: 20px;
    margin-bottom: 0px;
}