* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* colors palette */
  --color-bg: #202020;
  --color-bg-dark: #202020;
  --color-bg-light: #ffffff;
  --color-primary: #99e097;
  --color-red: #e09797;
  --color-blue: #97bde0;
  --color-yellow: #dfe097;
  --color-text: #606060;

  color: var(--color-text);
  letter-spacing: 1px;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3, h4 {
  color: var(--color-primary)
}

.text-red {
  color: var(--color-red);
}
.text-blue {
  color: var(--color-blue);
}
.text-yellow {
  color: var(--color-yellow);
}

/* scroll bar color */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}